@import 'tailwindcss';
/* @plugin '@tailwindcss/typography'; */
@plugin "flowbite-typography";
@custom-variant dark (&:where(.dark, .dark *));

html {
  font-family: sans-serif;
}

main {
  margin: 0 auto;
  max-width: 80ch;
  padding: 1rem;
}
