---

---

<!-- https://flowbite.com/docs/components/badge/ -->
<span
  class="bg-purple-100 hover:bg-purple-200 text-purple-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-purple-900 dark:text-purple-300"
>
  <slot />
</span>
