---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'
const { pageTitle } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="dark:bg-gray-900">
    <Header />
    <main class="max-w-screen-xl mx-auto space-y-4">
      <h2 class="text-4xl font-bold dark:text-white">
        {pageTitle}
      </h2>
      <slot />
    </main>
    <Footer />
    <script is:inline src="https://cdn.jsdelivr.net/npm/flowbite/dist/flowbite.min.js"></script>
  </body>
</html>
